[submodule "AMDMIGraphX"]
	path = AMDMIGraphX
	url = https://github.com/ROCm/AMDMIGraphX.git
[submodule "amdsmi"]
	path = amdsmi
	url = https://github.com/ROCm/amdsmi.git
[submodule "aomp"]
	path = aomp
	url = https://github.com/ROCm/aomp.git
[submodule "aomp-extras"]
	path = aomp-extras
	url = https://github.com/ROCm/aomp-extras.git
[submodule "clang-ocl"]
	path = clang-ocl
	url = https://github.com/ROCm/clang-ocl.git
[submodule "clr"]
	path = clr
	url = https://github.com/ROCm/clr.git
[submodule "composable_kernel"]
	path = composable_kernel
	url = https://github.com/ROCm/composable_kernel.git
[submodule "criu"]
	path = criu
	url = https://github.com/ROCm/criu.git
[submodule "flang"]
	path = flang
	url = https://github.com/ROCm/flang.git
[submodule "half"]
	path = half
	url = https://github.com/ROCm/half.git
[submodule "HIP"]
	path = HIP
	url = https://github.com/ROCm/HIP.git
[submodule "hipBench"]
	path = hipBench
	url = https://github.com/ROCm/hipBench.git
[submodule "hipBLAS"]
	path = hipBLAS
	url = https://github.com/ROCm/hipBLAS.git
[submodule "hipBLASLt"]
	path = hipBLASLt
	url = https://github.com/ROCm/hipBLASLt.git
[submodule "HIPCC"]
	path = HIPCC
	url = https://github.com/ROCm/HIPCC.git
[submodule "hipCollections"]
	path = hipCollections
	url = https://github.com/ROCm/hipCollections.git
[submodule "hipCUB"]
	path = hipCUB
	url = https://github.com/ROCm/hipCUB.git
[submodule "HIP-Examples"]
	path = HIP-Examples
	url = https://github.com/ROCm/HIP-Examples.git
[submodule "hipFFT"]
	path = hipFFT
	url = https://github.com/ROCm/hipFFT.git
[submodule "hipfort"]
	path = hipfort
	url = https://github.com/ROCm/hipfort.git
[submodule "HIPIFY"]
	path = HIPIFY
	url = https://github.com/ROCm/HIPIFY.git
[submodule "hipother"]
	path = hipother
	url = https://github.com/ROCm/hipother.git
[submodule "hip-python"]
	path = hip-python
	url = https://github.com/ROCm/hip-python.git
[submodule "hipRAND"]
	path = hipRAND
	url = https://github.com/ROCm/hipRAND.git
[submodule "hipSOLVER"]
	path = hipSOLVER
	url = https://github.com/ROCm/hipSOLVER.git
[submodule "hipSPARSE"]
	path = hipSPARSE
	url = https://github.com/ROCm/hipSPARSE.git
[submodule "hipSPARSELt"]
	path = hipSPARSELt
	url = https://github.com/ROCm/hipSPARSELt.git
[submodule "hipTensor"]
	path = hipTensor
	url = https://github.com/ROCm/hipTensor.git
[submodule "hip-tests"]
	path = hip-tests
	url = https://github.com/ROCm/hip-tests.git
[submodule "libhipcxx"]
	path = libhipcxx
	url = https://github.com/ROCm/libhipcxx.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/ROCm/llvm-project.git
[submodule "MAD"]
	path = MAD
	url = https://github.com/ROCm/MAD.git
[submodule "MIOpen"]
	path = MIOpen
	url = https://github.com/ROCm/MIOpen.git
[submodule "MIVisionX"]
	path = MIVisionX
	url = https://github.com/ROCm/MIVisionX.git
[submodule "rapids-cmake"]
	path = rapids-cmake
	url = https://github.com/ROCm/rapids-cmake.git
[submodule "rccl"]
	path = rccl
	url = https://github.com/ROCm/rccl.git
[submodule "rccl-rdma-sharp-plugins"]
	path = rccl-rdma-sharp-plugins
	url = https://github.com/ROCm/rccl-rdma-sharp-plugins.git
[submodule "rdc"]
	path = rdc
	url = https://github.com/ROCm/rdc.git
[submodule "rdma-perftest"]
	path = rdma-perftest
	url = https://github.com/ROCm/rdma-perftest.git
[submodule "rocALUTION"]
	path = rocALUTION
	url = https://github.com/ROCm/rocALUTION.git
[submodule "rocBLAS"]
	path = rocBLAS
	url = https://github.com/ROCm/rocBLAS.git
[submodule "ROCdbgapi"]
	path = ROCdbgapi
	url = https://github.com/ROCm/ROCdbgapi.git
[submodule "rocDecode"]
	path = rocDecode
	url = https://github.com/ROCm/rocDecode.git
[submodule "rocFFT"]
	path = rocFFT
	url = https://github.com/ROCm/rocFFT.git
[submodule "ROCgdb"]
	path = ROCgdb
	url = https://github.com/ROCm/ROCgdb.git
[submodule "rocHPL-MxP"]
	path = rocHPL-MxP
	url = https://github.com/ROCm/rocHPL-MxP.git
[submodule "ROCm"]
	path = ROCm
	url = https://github.com/ROCm/ROCm.git
[submodule "rocm_bandwidth_test"]
	path = rocm_bandwidth_test
	url = https://github.com/ROCm/rocm_bandwidth_test.git
[submodule "rocm_smi_lib"]
	path = rocm_smi_lib
	url = https://github.com/ROCm/rocm_smi_lib.git
[submodule "rocm-cmake"]
	path = rocm-cmake
	url = https://github.com/ROCm/rocm-cmake.git
[submodule "ROCm-CompilerSupport"]
	path = ROCm-CompilerSupport
	url = https://github.com/ROCm/ROCm-CompilerSupport.git
[submodule "rocm-core"]
	path = rocm-core
	url = https://github.com/ROCm/rocm-core.git
[submodule "ROCm-Device-Libs"]
	path = ROCm-Device-Libs
	url = https://github.com/ROCm/ROCm-Device-Libs.git
[submodule "rocm-docs-core"]
	path = rocm-docs-core
	url = https://github.com/ROCm/rocm-docs-core.git
[submodule "rocm-examples"]
	path = rocm-examples
	url = https://github.com/ROCm/rocm-examples.git
[submodule "rocminfo"]
	path = rocminfo
	url = https://github.com/ROCm/rocminfo.git
[submodule "ROCmValidationSuite"]
	path = ROCmValidationSuite
	url = https://github.com/ROCm/ROCmValidationSuite.git
[submodule "rocPRIM"]
	path = rocPRIM
	url = https://github.com/ROCm/rocPRIM.git
[submodule "rocprofiler"]
	path = rocprofiler
	url = https://github.com/ROCm/rocprofiler.git
[submodule "ROCK-Kernel-Driver"]
	path = ROCK-Kernel-Driver
	url = https://github.com/ROCm/ROCK-Kernel-Driver.git
[submodule "rocMLIR"]
	path = rocMLIR
	url = https://github.com/ROCm/rocMLIR.git
[submodule "omniperf"]
	path = omniperf
	url = https://github.com/ROCm/omniperf.git
[submodule "omnitrace"]
	path = omnitrace
	url = https://github.com/ROCm/omnitrace.git
[submodule "rocPyDecode"]
	path = rocPyDecode
	url = https://github.com/ROCm/rocPyDecode.git
[submodule "rocr_debug_agent"]
	path = rocr_debug_agent
	url = https://github.com/ROCm/rocr_debug_agent.git
[submodule "rocRAND"]
	path = rocRAND
	url = https://github.com/ROCm/rocRAND.git
[submodule "ROCR-Runtime"]
	path = ROCR-Runtime
	url = https://github.com/ROCm/ROCR-Runtime.git
[submodule "rocSOLVER"]
	path = rocSOLVER
	url = https://github.com/ROCm/rocSOLVER.git
[submodule "rocSPARSE"]
	path = rocSPARSE
	url = https://github.com/ROCm/rocSPARSE.git
[submodule "rocThrust"]
	path = rocThrust
	url = https://github.com/ROCm/rocThrust.git
[submodule "roctracer"]
	path = roctracer
	url = https://github.com/ROCm/roctracer.git
[submodule "ROCT-Thunk-Interface"]
	path = ROCT-Thunk-Interface
	url = https://github.com/ROCm/ROCT-Thunk-Interface.git
[submodule "rocWMMA"]
	path = rocWMMA
	url = https://github.com/ROCm/rocWMMA.git
[submodule "rpp"]
	path = rpp
	url = https://github.com/ROCm/rpp.git
[submodule "Tensile"]
	path = Tensile
	url = https://github.com/ROCm/Tensile.git
[submodule "TransferBench"]
	path = TransferBench
	url = https://github.com/ROCm/TransferBench.git
[submodule "onnxruntime"]
	path = onnxruntime
	url = https://github.com/ROCm/onnxruntime.git
